body {
      background-image: linear-gradient(lightsteelblue, antiquewhite);
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Righteous', Courier, monospace;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

h1 {
      border: 4px solid seagreen;
      border-style:groove;
      padding: 10px;
      box-shadow: 4px 4px 4px slategray;
}

#countLabel {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      text-shadow: 3px 3px 3px slategrey;
}

button {
      font-family: 'Righteous', Courier, monospace;
      display: flex;
      align-items: flex-start;
      font-weight: 300;
      font-size: 25px;
      justify-content: center;
      width: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 15px;
      box-shadow: 4px 4px 4px slategrey;
}

#increaseBtn, #add5 {
      background-color: limegreen;
      
}

#increaseBtn:active, #add5:active {
      background-color: lightgreen;
}

#increaseBtn:hover, #add5:hover{
      border-color: greenyellow;
}

#decreaseBtn, #take5 {
      background-color: crimson;
}

#decreaseBtn:active, #take5:active {
      background-color: salmon;
}

#decreaseBtn:hover, #take5:hover {
      border-color: orangered;
}

#randomNum {
      background-image: linear-gradient(purple, orange);
      color: yellow;
}

#randomNum:hover {
      border-color: pink;
      background-image: linear-gradient(cyan, indigo);
      color:hotpink;
}

#randomNum:active {
      color: slategrey;
}

#resetBtn {
      background-image: linear-gradient(navajowhite, darkkhaki);
      color:indigo;
      
}

#resetBtn:hover {
      background-image: linear-gradient(antiquewhite, whitesmoke);
      border-color: seagreen;
      color: dodgerblue;
}

